@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}

@layer base {
    body {
        @apply bg-zinc-950 text-neutral-200;
        min-height: 100vh; /* Asegura que el body ocupe el 100% de la altura */
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #root {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    main {
        flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    }
}
